.container-political-chart {
    max-width: 65rem;
    margin: 0 auto;
    position: relative;
}

.temas {
    display: inline-block;
}

.tema-label {
    font-size: 1rem;
    font-family: var(--roboto);
    font-weight: normal;
    margin-bottom: 0;
}

.circle-political {
    width: 5rem;
    height: 4rem;
    display: inline-block;
    vertical-align: middle;
    &:after {
        content: '';
        height: 4rem;
        width: .5rem;
        display: inline-block;
        background-color: #f1f1f1;
        position: relative;
        left: .5rem;
    }
    &.pp-color {
        background-color: var(--pp);
    }
    &.psoe-color {
        background-color: var(--psoe);
    }
    &.up-color {
        background-color: var(--up);
    }
    &.cs-color {
        background-color: var(--cs);
    }
    &.vox-color {
        background-color: var(--vox);
    }
}

.title-political {
    font-size: 2rem;
    font-family: var(--title);
    padding: 1rem 1rem 1rem 0;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    z-index: 2;
    position: relative;
    left: -3rem;
    letter-spacing: 1px;
}

.text-political {
    font-size: 1rem;
    font-family: var(--text);
    font-weight: normal;
    display: block;
    color: var(--black);
    vertical-align: top;
    max-width: 30rem;
    margin-top: .5rem;
    z-index: 2;
    position: relative;
    &:not(:last-child) {
        margin-right: 1rem;
    }
}

.grid-charts {
    grid-template-columns: 100%;
    display: grid;
    max-width: 45rem;
    margin-top: 0;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    justify-items: stretch;
    align-items: stretch;
}

.container-political {
    min-height: 100vh;
    position: relative;
}

.rects {
    cursor: pointer;
    transition: all ease-in 300ms;
    &:hover {
        height: 16px;
        width: 16px;
        fill: rgba(120, 4, 72, .7);
    }
}

.tooltip {
    position: absolute;
    right: 0;
    top: 15rem;
    z-index: 2;
    padding: .5rem .75rem;
    background: var(--white);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 20rem;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .2);
    border-top: 5px solid;
    p + p {
        display: none;
    }
    &.Ciudadanos {
        border-color: var(--cs);
    }
}

.tooltip-party {
    margin: 0;
    font-size: 1.25rem;
    font-family: var(--title);
    color: var(--black);
}

.tooltip-candidate,
.tooltip-date {
    font-size: .75rem;
    font-family: var(--roboto);
    color: var(--black);
    display: block;
}

.tooltip-source {
    font-size: .75rem;
    font-family: var(--roboto);
    font-weight: bold;
    display: block;
}

/* stylelint-disable */
.tooltip-party {
    font-weight: bold;
}
/* stylelint-enable */

.tooltip-text {
    font-size: .75rem;
    font-family: var(--text);
    color: var(--black);
    margin: .5rem 0;

}

@media only screen and (min-width: 64em) {

    .grid-charts {
        grid-template-columns: 33% 33% 33%;
    }

}
